<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="app::executable" Directory="INSTALLFOLDER">
      <Component>
        <File Id="FlowFM-Inspector.exe"
              Source="FlowFM-Inspector.exe"
              KeyPath="yes">

          <Shortcut Id="FlowFM-InspectorShortcut"
                    Name="FlowFM-Inspector"
                    Description="FlowFM-Inspector"
                    Directory="ProgramMenuFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes">
          </Shortcut>

          <Icon Id="FlowFM-Inspector.exe"
                SourceFile="Resources\FlowFM-Inspector.ico"/>
        </File>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
