.social-button {
    float: none;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    > a {
        padding: 0px 0px;

        &:hover {
            color: #DE5234;
        }
    }
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-footer {
    font-size: 8px;
}