{% extends "Fragment.wxs.jinja" -%}
{% block FragmentContent -%}

{%- filter indent(8) -%}
{%- for group in component_groups %}
{{ ComponentGroup(group) }}
{%- endfor %}
{%- endfilter %}

{% endblock %}

{%- macro ComponentGroup(obj)  %}
{{ ComponentGroupHeader(obj) }}
    {%- filter indent(4) -%}
    {%- for child in obj.children %}
    {{ ComponentGroupElement(child) }}
    {%- endfor %}
    {% endfilter %}
</ComponentGroup>
{%- endmacro %}

{%- macro ComponentGroupHeader(obj) -%}
{%- if obj.dir is not none -%}
<ComponentGroup Id="{{obj.id}}" Directory="{{obj.dir}}">
{%- else -%}
<ComponentGroup Id="{{obj.id}}">
{%- endif -%}                                
{%- endmacro -%}

{%- macro ComponentGroupElement(obj) %}
{%- if obj.component_type == "component" -%}
    {{ Component(obj) }}
{%- elif obj.component_type == "component_group_ref" -%}
    {{ ComponentGroupRef(obj) }}
{%- endif -%}
    
{%- endmacro %}

{%- macro Component(obj) %}
<Component Win64="yes">
    <File Id="{{obj.id}}"
          Source="{{obj.source}}" 
          Name="{{obj.name}}" />
</Component>
{%- endmacro %}

{%- macro ComponentGroupRef(obj) %}
<ComponentGroupRef Id="{{obj.id}}" />
{%- endmacro %}
