<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="FlowFM_Inspector" 
           Language="1033" 
           Version="0.1.0.0" 
           Manufacturer="BeardedPlatypus" 
           UpgradeCode="23597c9e-850b-4354-871c-e8606acb9828">

    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of FlowFM-Inspector is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <WixVariable Id ="WixUILicenseRtf" Value="Resources\License.rtf"/>

		<Feature Id="ProductFeature" 
             Title="FlowFM_Inspector" 
             Level="1">
			<ComponentGroupRef Id="app..root" />
      <ComponentGroupRef Id="core..core" />
      <ComponentGroupRef Id="ui..ui" />
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIDialogBmp" Value="Resources\WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixUIBannerBmp.bmp" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="FlowFM-Inspector.exe" />
	</Product>
</Wix>
