@charset "utf-8";

$grey1: #181A1E;
$grey2: #282D33;
$grey3: #404752;
$grey4: #4A535E;
$grey5: #BED4F2;

$grey_header: #cccccc; //#323840;
$grey_header_divider: #6b6f7a;
$grey_divider: #6B6F7A;

$footer-padding: 0.1rem 0.1rem;
@import "~bulma/bulma.sass";

